
html
    head
        title!= title
        script(type='text/javascript', src='scripts/jquery.min.js')
        script(type='text/javascript').
            function call ()
            {
                $.get("eye", function (data)
                {
                    $('#test').val(data);
                });
            }
    body
        h1!= message
        button(class="btn", onClick="call();").
            Configure machine
        div
            textarea#test(style='width:100%;height:500px;')