//
   Created by joachimvh on 2/04/2015.

script(type='text/javascript').
   function parse ()
   {
      var json = $("#form form").serializeObject();
      json.id = parseInt(json.id);
      submit(json);
   }

form
   label.
      Insert initial part ID.
   div
      label(for="id").
         Part id:
      input(id='id', type='text', value='1', name='id')